#titleRes {
	font-size: 20pt;
	font-family: Monotype Corsiva;
	text-shadow: 1px 1px 2px black;
	border-bottom: 1pt solid black;
}

#dateRes {
	margin-left: 0;
	padding: 0;
	font-size: 15pt;
	font-family: Monotype Corsiva;
	font-size: 11pt;
	border-bottom: 1pt solid black;
}

#descriptionRes {
	font-size: 15pt;
	font-family: Monotype Corsiva;
}

#newsRes {
	font-size: 15pt;
	font-family: Monotype Corsiva;
}

#res1 {
	
	max-width: 500px;
	font-size: 25pt;
	font-family: Monotype Corsiva;
	text-shadow: 1px 1px 2px black;
}

#res2 {
	
	font-size: 14pt;
	font-family: Monotype Corsiva;
	border-bottom: 1pt solid black;
}

#res3 {
	
	width: 700px;
	font-size: 14pt;
	font-family: Monotype Corsiva;
}

#res4 {
	
	width: 700px;
	font-size: 14pt;
	font-family: Monotype Corsiva;
}

#addComment {
	
	width: 750px;
	height: 100px;
	border: 1pt solid black;
}

#commentText {
	
	width: 630px;
	height: 50px;
	resize: none;
}

#addBut {
	
	
}

#view{
	margin: 0;
	padding: 15px;
}

#commentBlock {
	
	right: 12%;
	width: 780px;
}

.commentClass {
	font-size: 11pt;
	font-family: Monotype Corsiva;
	min-width: 600px;
	min-height: 100px;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 20px;
	padding: 10px;
	border-bottom: 1pt solid black;
	margin-left: 60px;
	word-wrap: break-word;
}

#labelAddNews{
	position: absolute;
	text-decoration: none;
	color: black;
	top: 35px;
	font-size: 14pt;
	font-family: Monotype Corsiva;
}

